{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}
<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
      </div>
    </div>
</div>
{% endblock %}
