{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Jalbayu" src="...">
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}
<div class="row">
    {% for record in records %}
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{ url_for('static', filename='uploads/' + record.data) }}" class="thumbnail"> 
          {{ record.data }}
          {# <!-- <img src="{{ url_for('static', filename='uploads/' + record.2) }}" alt="{{ record.name }}">  --> #}
        </a>
        {{record.id}}. {{ record.name }}
        
      </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
